body{
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
}

aside{
    border:1px solid #03A9F4;
    margin-right:20px;
    padding: 20px 10px;
}

aside label{
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 15px;
}
.name-config{
    display: none;
}
.name-config label{
    margin-top: 5px;
    margin-bottom: 5px;
}
.name-config .name-length{
    width:50px;
}

main {
    width:100%;
    padding: 20px 30px;
    border: 1px solid #00BCD4;
}

main h3{
    text-align: center;
}
main form{
    width:80%;
    margin: 20px auto;
}
.form-control{
    margin-bottom: 15px;
}
.form-control p{
    color: #999;
}
.form-control p.success{
    color: green;
}
.form-control p.error{
    color: red;
}
.form-control input.success{
    border-color: green;
}
.form-control input.error{
    border-color: red;
}
.inline-form .form-control p{
    margin-left: 18%;
}
.normal-form .form-control label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.inline-form .form-control label{
    width:15%;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
.form-control input{
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

.btn{
    width:100px;
    padding: 10px 15px;
    background:#337ab7;
    color: #fff;
    font-size:16px;
    border: none;
    border-radius: 5px;
}