*{
  margin:0;
  padding: 0;
}
%gallery {
    width:500px;
    height:300px;
    position: relative;
    margin-bottom: 10px;
  }

img {
  object-fit: cover;
  position: absolute;
}

.gallery-1{
  @extend %gallery;
  img {
    width:100%;
    height:100%;
  }
}


.gallery-2{
  @extend %gallery;
  img{
    width:66.66%;
    height:100%;
  }
  img:nth-child(1) {
    left:0;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
  }
  img:nth-child(2) {
    right:0;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.gallery-3{
  @extend %gallery;
  img{
    float: left;
  }
  img:nth-child(2),
  img:nth-child(3){
    width:50%;
    height:50%;
    right:0;
  }
}

.gallery-4{
  @extend %gallery;
  img{
    width:50%;
    height:50%;
  }
  img:nth-child(1){
    left:0;
    top:0;
  }
  img:nth-child(2){
    right:0;
    top:0;
  }
  img:nth-child(3){
    left:0;
    bottom:0;
  }
  img:nth-child(4){
    right:0;
    bottom:0;
  }
}

.gallery-6{
  @extend %gallery;
  img:nth-child(1){
    width:66.66%;
    height: 66.66%;
    top:0;
    left:0;
  }
  img:nth-child(2){
    width:33.33%;
    height:33.33%;
    right:0;
    top:0;
  }
  img:nth-child(3){
    @extend img:nth-child(2);
    top:33.33%;
  }
  img:nth-child(4){
    @extend img:nth-child(2);
    top:66.66%;
    left:0;
    bottom: 0;
  }
  img:nth-child(5){
    @extend img:nth-child(2);
    top:66.66%;
    left:33.33%;
    bottom:0;
  }
  img:nth-child(6){
    @extend img:nth-child(2);
    top:66.66%;
    right:0;
    bottom: 0;
  }
}

