@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
.container{
  width:60%;
  margin:20px auto;
}
h1,.search{text-align: center}
li {
  padding:.2em 1em;
  list-style: none;
}
.close::before,
.open::before{
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-block;
  font-family: 'FontAwesome', sans-serif;
  padding-right: .75em;
}
.close::before{
  content: "\f114";
}
.open::before{
  content: "\f115";
}
.close ~ ul,
.root.close ~ li{
  display: none;
}

.open + ul li{
  display: block;
}

.list {
  width: 60%;
  margin: 10px auto;
  border: 1px dashed #7AAC41;
  padding: 20px;
  span {
    margin-left: 5px;
    cursor: pointer;
  }
}
.content:hover{
  span{display: inline-block}
}
.content span{display: none;}

.add,.remove{color:black}